@import "../../vars";

.cico {
  @include section;
  background-color: var(--pastel-green);
  margin: 0 auto;
}

.title {
  font-size: var(--title-font-size);
  font-weight: bold;
  text-align: center;
}

.text-container {
  font-size: var(--mid-font-size);
}
