@import "../../vars";

.cico {
  @include section;
  background-color: var(--pastel-green);
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 2fr;

  .text-container {
    font-size: var(--mid-font-size);

    span {
      @include emp;
    }

    p {
      background-color: white;
      padding: 1.5rem;
      margin: 0.5rem;
      border-radius: 15px;

      p {
        padding: 0.5rem;
      }
    }
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    img {
      height: 80%;
    }
  }
}
