:root {
  --box-shadow: 1px 2px 8px #999;
  --box-shadow--light: 1px 2px 8px #bbb;
  --transparent: rgba(0, 0, 0, 0);
  --small-font-size: 1.2rem;
  --low-mid-font-size: 1.6rem;
  --mid-font-size: 1.8rem;
  --high-mid-font-size: 2rem;
  --large-font-size: 2.4rem;
  --xl-font-size: 2.8rem;
  --subtitle-font-size: 3.2rem;
  --title-font-size: 4.8rem;
  --sky-blue: #a9dfd8;
  --pastel-green: #cce4d4;
  --emerald: #85dac5;
  --deep-green: #88cbc0;
  --yellow: #e4f7d0;
  --pastel-blue: #bcd8cf;
  --grey-green: #94b7ad;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 #f73718;
  }
  75% {
    box-shadow: 0 0 30px 20px #f73718;
  }
  100% {
    box-shadow: 0 0 0 0 #f73718;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rise--ice-cream {
  from {
    height: 25.5%;
  }
  to {
    height: 28.25%;
  }
}
@keyframes rise--ceasar-salad {
  from {
    height: 25.5%;
  }
  to {
    height: 32.25%;
  }
}
@keyframes rise--quarter-pounder {
  from {
    height: 25.5%;
  }
  to {
    height: 29.75%;
  }
}
@keyframes shrink {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(0%);
  }
}
.title {
  font-size: var(--title-font-size);
  font-weight: bold;
  text-align: center;
}

.slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.slide .img {
  height: 12rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.slide .text-container {
  font-size: var(--mid-font-size);
}
.slide .text-container .imgs {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.slide .img-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slide .temp-reading {
  margin: 0;
  padding: 0;
  font-size: var(--large-font-size);
  animation: reveal 3s linear;
}
.slide .lightning {
  margin: 0;
  opacity: 0;
  width: 15%;
}
.slide .calorimeter {
  position: relative;
  display: flex;
  height: 60%;
  width: 40%;
  margin: 0 auto;
  border: black 1px solid;
}
.slide .calorimeter::after {
  content: "";
  display: block;
  align-self: flex-end;
  width: 100%;
  height: 75%;
  background-color: #0e87cc;
}
.slide .calorimeter .drop {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 60%;
  background-color: var(--pastel-green);
  border: 1px black solid;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide .tube {
  position: absolute;
  top: -20%;
  right: 10%;
  display: flex;
  justify-content: center;
  width: 10px;
  height: 300px;
  margin: auto;
  background: linear-gradient(to right, #0a0, #dfd, #dfd, #dfd, #0a0);
  border: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px;
}
.slide .vein,
.slide .vein--ice-cream,
.slide .vein--ceasar-salad,
.slide .vein--quarter-pounder {
  align-self: flex-end;
  width: 80%;
  height: 25.5%;
  background-color: #e00;
  border-radius: 4px;
}
.slide .vein--ice-cream {
  animation: rise--ice-cream 3s forwards;
}
.slide .vein--ceasar-salad {
  animation: rise--ceasar-salad 3s forwards;
}
.slide .vein--quarter-pounder {
  animation: rise--quarter-pounder 3s forwards;
}
.slide .flash {
  animation: flash 3s;
}
.slide .glow {
  animation: glow 3s ease-out;
}
.slide .shrink {
  animation: shrink 3s forwards;
}/*# sourceMappingURL=Slide.module.css.map */