.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
  }

  .shape-fill {
    &--pink {
      fill: var(--pink);
    }
    &--pastel-green {
      fill: var(--pastel-green); //bmr
    }
    &--emerald {
      fill: var(--emerald); //basic
    }
    &--deep-green {
      fill: var(--deep-green); //faq
    }
    &--yellow {
      fill: var(--yellow); //tdee
    }
    &--green {
      fill: var(--green); //home
    }
  }
}
