@import "../../vars";

.counting {
  @include section;
  background-color: var(--pastel-green);
  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.title {
  font-size: var(--title-font-size);
  font-weight: bold;
  text-align: center;
}

.text-container {
  font-size: var(--mid-font-size);

  p {
    background-color: white;
    padding: 1.5rem;
    margin: 0.5rem;
    border-radius: 15px;

    p {
      padding: 0.5rem;
    }

    span {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 50rem;
  }
}
