@import "../../vars";

.counting {
  @include section;
  background-color: var(--deep-green);
  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.text-container {
  font-size: var(--mid-font-size);

  p,
  div {
    background-color: white;
    padding: 1.5rem;
    margin: 0.5rem;
    border-radius: 15px;

    span {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  img {
    height: 80%;
  }
}
