@import "../../vars";

.tdee {
  @include section;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  background-color: var(--yellow);

  &--wait {
    @include section;
    display: block;
    background-color: var(--yellow);
  }
}

.wait {
  font-size: var(--title-font-size);
  font-weight: bold;
  text-align: center;
}

.wait-text {
  font-size: var(--large-font-size);
  text-align: center;
}
