@import "../../vars";

.nav {
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  transition: all 0.7s;
  background-color: var(--pastel-blue);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  overflow: hidden;
  z-index: 2;
  max-height: 7rem;
  cursor: pointer;

  &__hide {
    max-height: 0;

    &:hover {
      max-height: 10rem;
    }
  }

  ul {
    display: flex;
    gap: 4rem;
    justify-content: center;
    list-style: none;

    li:hover {
      animation: shake 0.8s;
    }

    .link {
      text-decoration: none;
      font-size: var(--high-mid-font-size);
      color: #111;

      &:hover {
        color: #555;
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
