@import "../../vars";

.nav {
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  transition: all 0.7s;

  overflow: hidden;
  z-index: 2;
  max-height: 7rem;

  &__hide {
    max-height: 0;

    &:hover {
      max-height: 10rem;
    }
  }
}

ul {
  display: flex;
  gap: 4rem;
  justify-content: center;
  list-style: none;

  li:hover {
    animation: shake 0.8s;
  }

  .link {
    text-decoration: none;
    font-size: var(--high-mid-font-size);
    color: #111;

    &:hover {
      color: #555;
    }
  }
}

.bubble {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  overflow: hidden;
  z-index: -1;

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
  }

  .shape-fill {
    fill: var(--pastel-blue);
  }
}
