@import "../../vars";

.form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  font-size: 1.6rem;

  padding: 2rem;
  margin: 2rem;
  width: fit-content;
  border-radius: 10px;
  box-shadow: var(--box-shadow);

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
  }
}

.radio-container {
  display: flex;
  justify-content: space-between;
}
