@import "../../vars";

.calc-container {
  @include form-container;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  align-items: center;
  gap: 1rem;
  font-size: var(--mid-font-size);

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  input[type="number"] {
    grid-column: 2 / span 2;
    font-size: inherit;
    padding: 0.4rem 0.8rem;
  }

  .radio-container {
    display: flex;
    justify-content: space-between;
    grid-column: 2/-1;
  }

  .span1 {
    grid-column: span 1 !important;
  }

  .inches {
    grid-column: span 1 !important;
  }

  .span1,
  .inches {
    max-width: 10rem;
  }

  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

.bmr-container {
  @include grow-box;
}

.result-message {
  font-size: var(--large-font-size);

  span {
    color: blue;
    font-size: var(--xl-font-size);
    font-weight: bold;
  }
}
