.bmrText-container {
  font-size: 2.8rem;

  span {
    font-weight: bold;
    text-decoration: underline;
  }

  .food-comparison {
    text-decoration: none;

    &:nth-child(1) {
      color: red;
    }

    &:nth-child(2) {
      color: blue;
    }
  }
}
