@import "../../vars";

.bmrText-container {
  font-size: var(--xl-font-size);

  span {
    font-weight: bold;
    text-decoration: underline;
  }

  .food-comparison {
    text-decoration: none;

    &:nth-child(2) {
      color: red;
    }

    &:nth-child(3) {
      color: blue;
    }
  }

  .text {
    animation: fade 1s;
  }
}
