@import "../../vars";

:root {
  --fraction: 0deg;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@keyframes clock-wipe {
  to {
    --angle: 360deg;
  }
}

@keyframes cutoff {
  0% {
    top: 0;
  }

  25% {
    transform: rotate(75deg);
  }

  100% {
    top: 100%;
    opacity: 0;
    display: none;
  }
}

.imagesRep-container {
  overflow: hidden;
  animation: fade 1s;

  h1 {
    font-size: var(--subtitle-font-size);
    text-align: center;
  }

  p {
    font-size: var(--mid-font-size);
  }

  img {
    height: 7rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .btn-container {
    display: flex;
    gap: 1rem;

    button {
      background-color: var(--transparent);
      border: 1px solid #333;
      padding: 1rem 2rem;
      font-size: var(--low-mid-font-size);
      cursor: pointer;

      transition: 0.3s all;
    }

    button:hover {
      background-color: #eee;
    }
  }

  .img {
    margin-right: 1rem;

    mask-image: conic-gradient(transparent (var(--angle)), #fff (var(--angle)));
    animation: clock-wipe 1s reverse;
  }

  .fraction-container {
    display: inline-block;
    position: relative;
    animation: grow 1s forwards;

    .img--fraction {
      mask-image: conic-gradient(
        transparent (var(--fraction)),
        #fff (var(--fraction))
      );

      &--fall-off {
        @include absolute;

        animation: cutoff 1.5s linear forwards 1s;
        mask-image: conic-gradient(
          #fff (var(--fraction)),
          transparent (var(--fraction))
        );
      }
    }
  }
}
