@import "../../vars";

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 #f73718;
  }

  75% {
    box-shadow: 0 0 30px 20px #f73718;
  }
  100% {
    box-shadow: 0 0 0 0 #f73718;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rise--ice-cream {
  from {
    height: 25.5%;
  }

  to {
    height: 28.25%;
  }
}

@keyframes rise--ceasar-salad {
  from {
    height: 25.5%;
  }

  to {
    height: 32.25%;
  }
}

@keyframes rise--quarter-pounder {
  from {
    height: 25.5%;
  }

  to {
    height: 29.75%;
  }
}

@keyframes shrink {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(0%);
  }
}

.title {
  font-size: var(--title-font-size);
  font-weight: bold;
  text-align: center;
}

.slide {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100%;

  .img {
    height: 12rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .text-container {
    font-size: var(--mid-font-size);

    .imgs {
      display: flex;
      justify-content: space-between;
      margin-top: 4rem;
    }
  }

  .img-container {
    height: 100%;
    @include flex--col--center;
  }

  .temp-reading {
    margin: 0;
    padding: 0;
    font-size: var(--large-font-size);
    animation: reveal 3s linear;
  }

  .lightning {
    margin: 0;
    opacity: 0;
    width: 15%;
  }

  .calorimeter {
    position: relative;
    display: flex;
    height: 60%;
    width: 40%;
    margin: 0 auto;
    border: black 1px solid;

    //water
    &::after {
      content: "";
      display: block;
      align-self: flex-end;
      width: 100%;
      height: 75%;
      background-color: #0e87cc;
    }

    //container
    .drop {
      position: absolute;
      top: -5%;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 60%;
      background-color: var(--pastel-green);
      border: 1px black solid;
      border-top: none;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .tube {
    position: absolute;
    top: -20%;
    right: 10%;
    display: flex;
    justify-content: center;
    width: 10px;
    height: 300px;
    margin: auto;
    background: linear-gradient(to right, #0a0, #dfd, #dfd, #dfd, #0a0);
    border: 1px solid #aaa;
    border-bottom: 0;
    border-radius: 4px;
  }
  .vein,
  .vein--ice-cream,
  .vein--ceasar-salad,
  .vein--quarter-pounder {
    align-self: flex-end;
    width: 80%;
    height: 25.5%;
    background-color: #e00;
    border-radius: 4px;
  }

  .vein--ice-cream {
    animation: rise--ice-cream 3s forwards;
  }

  .vein--ceasar-salad {
    animation: rise--ceasar-salad 3s forwards;
  }

  .vein--quarter-pounder {
    animation: rise--quarter-pounder 3s forwards;
  }

  //animations
  .flash {
    animation: flash 3s;
  }
  .glow {
    animation: glow 3s ease-out;
  }
  .shrink {
    animation: shrink 3s forwards;
  }
}
