:root {
  //shadows
  --box-shadow: 1px 2px 8px #999;
  --box-shadow--light: 1px 2px 8px #bbb;
  --transparent: rgba(0, 0, 0, 0);

  //text
  --small-font-size: 1.2rem;
  --low-mid-font-size: 1.6rem;
  --mid-font-size: 1.8rem;
  --high-mid-font-size: 2rem;
  --large-font-size: 2.4rem;
  --xl-font-size: 2.8rem;

  //titles
  --subtitle-font-size: 3.2rem;
  --title-font-size: 4.8rem;

  //colors
  --sky-blue: #a9dfd8;
  --pastel-green: #cce4d4;
  --emerald: #85dac5;
  --deep-green: #88cbc0;
  --yellow: #e4f7d0;
  --pastel-blue: #bcd8cf;
  --grey-green: #94b7ad;
}

//mixins
@mixin flex--col {
  display: flex;
  flex-direction: column;
}

@mixin flex--col--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin absolute {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin section {
  padding: 6rem 3rem;
  height: 100vh;
  position: relative;
}

@mixin form-container {
  padding: 1rem 2rem 2rem;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: #fff;

  h1 {
    text-align: center;
    font-size: var(--title-font-size);
  }

  button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #bbb;
    border-radius: 10px;
    box-shadow: var(--box-shadow--light);
    padding: 1rem 2rem;
    font-size: inherit;
    margin: 1rem auto 0;
    grid-column: 1/-1;
    cursor: pointer;
  }
}

@mixin result-message {
  font-size: var(--large-font-size);

  span {
    color: blue;
    font-size: var(--xl-font-size);
    font-weight: bold;
  }
}

@mixin grow-box {
  max-height: 0;
  overflow: hidden;

  &--visable {
    max-height: 7rem;
    overflow: hidden;

    text-align: center;
    padding-top: 2rem;
    transition: all 0.7s;
  }
}

//keyframes
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 #f73718;
  }

  75% {
    box-shadow: 0 0 30px 20px #f73718;
  }
  100% {
    box-shadow: 0 0 0 0 #f73718;
  }
}

@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shrink {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(0%);
  }
}

@keyframes rise--ice-cream {
  from {
    height: 25.5%;
  }

  to {
    height: 28.25%;
  }
}

@keyframes rise--ceasar-salad {
  from {
    height: 25.5%;
  }

  to {
    height: 32.25%;
  }
}

@keyframes rise--quarter-pounder {
  from {
    height: 25.5%;
  }

  to {
    height: 29.75%;
  }
}
